Introduction : Basic Syntax, Data Type, and Variable

# Integers

In [1]:
print(123123123 + 1)

123123124

In [2]:
print(10)
print(type(10))

10
<class 'int'>

# Floating-Point Numbers

In [3]:
print(4.2)
print(type(4.2))

4.2
<class 'float'>

In [4]:
print(4.)

4.0

In [5]:
print(.2)

0.2

In [6]:
print(.4e7)

4000000.0

In [7]:
print(4.2e-4)

0.00042

# Strings

In [8]:
print('Hacktiv8')

Hacktiv8

In [9]:
print(type('Hacktiv8'))

<class 'str'>

In [10]:
print("This string contains a single quote (') character.")
print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

# Boolean Type, Boolean Context, and "Truthiness"

In [11]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

# Variable Assignment

In [12]:
n = 300
print(n)

300

In [13]:
n

300

In [14]:
a = b = c = 300
print(a, b, c)

300 300 300

## Variable Types in Python

In [15]:
var = 23.5
print(var)

23.5

In [16]:
var = 'Now Im a string'
print(var)

Now Im a string

## Variable Names

In [17]:
name = 'Hacktiv8'
age = 54
has_laptops = True
print(name, age, has_laptops)

Hacktiv8 54 True

# Operators and Expressions in Python

In [18]:
a = 10
b = 20
a + b

30

In [19]:
a + b - 5

25

## Arithmetic Operators

In [20]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

## Comparison Operators

In [21]:
a = 10
b = 20
print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

False
True
True
False

In [22]:
a = 30
b = 30
print(a == b)
print(a <= b)
print(a >= b)

True
True
True

## String Manipulation

In [23]:
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)
print(s + t + u)
print('Hacktiv8' + 'PTP')

foobar
foobarbaz
Hacktiv8PTP

In [24]:
s = 'foo'
s * 4

'foofoofoofoo'

In [26]:
s = 'foo'
print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [28]:
s = 'HackTIV8'

print(s.capitalize())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

# Python Lists

In [29]:
a = ['foo', 'bar', 'baz', 'qux']
print(a)

['foo', 'bar', 'baz', 'qux']

## Lists are Ordered

In [30]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']
a == b

False

## Lists Can Contain Arbitrary Objects

In [31]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]
print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

## List Elemen Can be Accessed by Index

In [32]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[0])
print(a[5])

foo
corge

In [33]:
print(a[-1])
print(a[-6])

corge
foo

In [34]:
a[2:5]

['baz', 'qux', 'quux']

In [37]:
print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [38]:
print(a)
print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

## Modifying a Single List Value

In [40]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [41]:
del a[3]
print(a)

['foo', 'bar', 10, 'quux', 20]

## Modifying Multiple List Values

In [43]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]
print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

# Python Tuples

In [44]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [45]:
print(t[0])
print(t[-1])

foo
corge

In [46]:
(s1, s2, s3, s4) = ('foo', 'bae', 'baz', 'qux')
s1

'foo'

# Python Dictionary

In [47]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston' : 'Red Sox',
    'Minnesota' : 'Twins',
    'Milwaukee' : 'Brewers',
    'Seattle' : 'Mariners'
}

In [48]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [49]:
MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [50]:
MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [51]:
del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

## Building a Dictionary Incrementally

In [52]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog' : 'Fido', 'cat' : 'Sox'}

In [53]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [54]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [55]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [56]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [57]:
d = {'a' : 10, 'b' : 20, 'c' : 30}

print(d.items())
print(d.keys())
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

## Line Continuation

In [61]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [59]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True